/* variables */
:root {
    --color-black: black;
    --color-white: white;
    --color-turquoise: turquoise;

}
/* Nav styles */
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list li {
    padding: 10px 1.5rem;
    margin: 0;
    border-radius: .5rem;
}
.nav-list li:hover {
    background-color: silver;
    border-bottom: 1px solid silver;
    transition: .5s ease;
}
.nav-list a {
    cursor: pointer;
}
.nav-section {
    display: flex;
    justify-content: space-between;
    background: lightblue;
    min-height: 50px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.logo {
    font-size: 2rem;
}
.btn-signin {
    padding: 5px 10px;
    align-self: center;
    color: var(--color-black);
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
}
.btn-signin:hover {
    color: var(--color-white);
    background-color: var(--color-turquoise);
    transition: .5s ease;
}