/* variables */
:root {
    --color-white: white;
    --color-black: black;
    --color-turquoise: turquoise;
}
html {
    box-sizing: border-box;
}
/* Page styles */
*. *:before, *:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: black;
}
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    padding: 0 50px;
}
a, a:hover, a:visited {
    text-decoration: none;
    color: var(--color-black);
}
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list li {
    padding: 10px 1.5rem;
    margin: 0;
    border-radius: .5rem;
}
.nav-list li:hover {
    background-color: silver;
    border-bottom: 1px solid silver;
    transition: .5s ease;
}
.nav-list a {
    cursor: pointer;
}

/* Nav styles */
.nav-section {
    display: flex;
    justify-content: space-between;
    background: lightblue;
    min-height: 50px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.logo {
    font-size: 2rem;
}
.btn-signin {
    padding: 5px 10px;
    align-self: center;
    color: var(--color-black);
    background-color: transparent;
    border: 1px solid silver;
    border-radius: 5px;
}
.btn-signin:hover {
    color: var(--main-color-white);
    background-color: var(--color-turquoise);
}

/* Main styles */
.main-section {
    background: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    min-height: 400px;
}
.left-panel {
    background: lightpink;
    flex: 1;
}
.center-panel {
    background: lightgreen;
    flex: 2;
}
.right-panel {
    background: lightgray;
    flex: 1;
}

/* Content styles */
.content-section {
    background: lightsalmon;
    min-height: 200px;
}

/* Footer styles */
.footer-section {
    background-color: lightgoldenrodyellow;
    min-height: 75px;
}
.social-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 1rem;
    margin: 0;
}
.social-list li { padding: 5px 10px;}
.footer-credit {
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    border-top: 1px solid silver;
}