/* variables */
:root {
    --color-white: white;
    --color-black: black;
    --color-turquoise: turquoise;
}
html {
    box-sizing: border-box;
}
/* Page styles */
*. *:before, *:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: black;
}
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    padding: 0 50px;
}
a, a:hover, a:visited {
    text-decoration: none;
    color: var(--color-black);
}

/* Main styles */
.main-section {
    background: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    min-height: 400px;
}
.left-panel {
    background: lightpink;
    flex: 1;
}
.center-panel {
    background: lightgreen;
    flex: 3;
}
.right-panel {
    background: lightgray;
    flex: 1;
}
@media only screen and (max-width: 790px) {
    .left-panel { flex: 0; }
    .right-panel { flex: 0; }
}
@media only screen and (max-width: 650px) {
    .left-panel { display: none; }
    .right-panel { display: none; }

}

/* Content styles */
.content-section {
    background: lightsalmon;
    min-height: 200px;
}

/* Footer styles */
.footer-section {
    background-color: lightgoldenrodyellow;
    min-height: 75px;
}
.social-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 1rem;
    margin: 0;
}
.social-list li { padding: 5px 10px;}
.footer-credit {
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    border-top: 1px solid silver;
}